*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}


.CounterWrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 50px;
  background-color: #505050;
}

.counterConteiner{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #505050;
  position: relative;
}

.buttonConteiner{
  position: absolute;
  display: flex;
  top: 70px;
}
.isActive{
  opacity: 0.5;
}