.set {
  display: flex;
  font-size: 25px;
  font-weight: 600;
  gap: 20px;
  padding: 10px;
  justify-content: center;
  color: aqua;

}

.input, 
.error {
  outline: none;
  border: 3px solid;
  border-radius: 5px;
  text-align: center;
}

.input {
  border-color: aqua;
}

.error {
  border-color: red;
}
