.set {

  display: flex;
  gap: 20px;
  /* margin-top: 20px; */
  padding: 10px;
  justify-content: center
  
}

.error{
  background-color: red;
}

/* .set > div {
  display: block;
  color: red;
} */
